* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
  }
  
  h1, h3, h5 {
    text-align: center;
  }

header{
    margin:auto;

}

header a{
    margin-left: 10px;
}

#timerDiv {
    float: right;
}

.card {
  background-color: white;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.card-header{

}

.card-body {
  padding: 10px 40px;
}

.card-footer{
  font-size: 28px;
}

#btn0, #btn1, #btn2, #btn3 {
  padding: 10px;
  margin: 10px;
  /* position: relative; */
  font-size: 18px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
}

.quiz-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 10px 300px;
  }

  #quizQ-header{
   font-size: 26px;
   text-align: center;
  }

  #quizDiv, #endQuiz, #startOver, #scoresDiv {
    display: none;
  }

  #startDiv{
    height: 350px;
    width: 100%;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
  }
  
  ul.options {
    list-style-type: none;
    padding: 0;
  }
  
  ul.options li {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .button_box{
  }
  
  button#start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 550px;
  }
  
  #start-button:hover {
    background-color: #45a049;
  }
  
  #submit, #restart {
    margin: 20px;
    height: 50px;
    padding: 5px;
    width: 150px;
  }

  #highscores{
    background-color: white;
    color: blue;
  }